/* .custom-menu .ant-menu-item:hover {
    background-color: #ff7f50 !important;
}

.custom-menu .ant-menu-item-selected {
    background-color: #ff4500 !important;
}

.custom-menu .ant-menu-item-selected a {
    color: #ffffff !important;
    text-decoration: none !important;
} */

/* sub menu */
/* .custom-menu .ant-menu-sub {
    background-color: #ff7f50 !important;
}


.custom-menu .ant-menu-sub .ant-menu-item {
    color: #ffffff !important;
}


.custom-menu .ant-menu-sub .ant-menu-item:hover {
    background-color: #ff4500 !important;
}


.custom-menu .ant-menu-sub .ant-menu-item-selected {
    background-color: #ff6347 !important;
}

.custom-menu .ant-menu-sub .ant-menu-item-selected a {
    color: #ffffff !important;
}

.ant-menu-submenu-selected {
    background-color: red !important;
} */